* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

header {
  background-color: #fff;
  color: #fff;
  padding: 15px 15px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

img {
  height: 20px;
  width: 40px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 25px;
  justify-content: space-between;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

ul li a:hover {
  color: #357ae8;
  transition: 1s;
}

.hero {
  text-align: center;
  padding: 80px 0;
  background-color: #357ae8;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  position: relative;
  color: #fff;
  text-decoration: none;
  border: 2px solid blueviolet;
  background: #333;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}

.btn:hover {
  background-color: blueviolet;
  transition: 1.5s;
}

.events {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.event h3 {
  font-size: 20px;
  margin-top: 10px;
}

.event p {
  color: #777;
  margin-top: 5px;
}

.Event {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.Event h3 {
  font-size: 20px;
  margin-top: 10px;
}

.Event p {
  color: #777;
  margin-top: 5px;
}

.Events {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.Events h3 {
  font-size: 20px;
  margin-top: 10px;
}

.Events p {
  color: #777;
  margin-top: 5px;
}

.flutter {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.flutter img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.flutter h3 {
  font-size: 20px;
  margin-top: 10px;
}

.flutter p {
  color: #777;
  margin-top: 5px;
}

.start-logo {
  font-size: 24px;
  padding: 50px 525px;
  font-weight: bold;
  color: #333;
  margin-left: 0px;
  margin-right: 100px;
  text-align: 20vh;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ddd;
  display: flex;
}

.start-logo .comm{
  text-align: center;
  margin-left: 50%;
  font-weight: 200;
}

footer {
  position: relative;
  font-size: large;
  color: black;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}